node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
*.md
!README.md
.DS_Store
.vscode
coverage
.nyc_output
dist
build
*.log
test
.editorconfig
.eslintrc
.prettierrc
compose.yaml
dev-compose.yaml
Dockerfile
Dev-DockerFile
.dockerignore
